<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(0)">{{board[0]}}</mat-grid-tile>        
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(1)">{{board[1]}}</mat-grid-tile>
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(2)">{{board[2]}}</mat-grid-tile>
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(3)">{{board[3]}}</mat-grid-tile>
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(4)">{{board[4]}}</mat-grid-tile>
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(5)">{{board[5]}}</mat-grid-tile>
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(6)">{{board[6]}}</mat-grid-tile>        
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(7)">{{board[7]}}</mat-grid-tile>                
    <mat-grid-tile class="{{tile=='X'? 'tictac' : 'tactoe'}}" (click)="checkSlot(8)">{{board[8]}}</mat-grid-tile>
</mat-grid-list>

